<!doctype html>
<html>
<head>
	<title>E-Learning System</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css.map">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js.map"></script>
</head>
<body>
	<header-tag/>
	$ var filePath = require(input.pageData.filename);
	<include(filePath, {pageData: input.pageData})/>
</body>
</html>
